// About Section Start
.about {
  @include grid(350px);
  max-width: 100%;
  padding: 1rem 9% !important;
  .content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    .header-about {
      font-size: 2.2rem;
      font-weight: 700;
      position: relative;
      display: flex !important;
      color: $stander-color;
      padding-bottom: 1rem;
      border-bottom: 4px solid $green;
      font-family: "El Messiri", sans-serif !important;
    }
    p {
      font-size: 1.7rem;
      color: $ligth-color;
      line-height: 33px;
    }
  }
  .img-about {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 5rem;

    img {
      width: 350px;
      object-fit: cover;
    }
  }
}
// About Section End
