// Footer section Start //
.credit {
  background: $stander-color;
  color: $white;
  direction: ltr;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  h3 {
    font-size: 1.5rem;
    span {
      color: $green;
    }
  }
  h5 {
    font-size: 1.2rem;
  }
  .icons-footer {
    i {
      color: $white;
      font-size: large;
      padding-left: 1rem;
    }
  }
}
// Footer section End //
