//responsive
@media (max-width: 1499px) {
  .service {
    .container {
      @include grid(41rem);
      gap: 2rem;
    }
  }
}
@media (max-width: 1300px) {
  .service {
    .container {
      @include grid(35rem);
      gap: 2rem;
    }
  }
}

@media (max-width: 1260px) {
  .contactUs {
    @include grid(40rem);
    .container {
      width: 100% !important;
      .container-form {
        width: 400px;
        box-shadow: $box-shadow;
      }
      .contact-services {
        width: 300px !important;
        box-shadow: $box-shadow;
      }
    }

    .contact-services {
      width: 100% !important;
    }
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem !important;
    .nav {
      padding: 2rem !important;
    }
    .content-box {
      color: $white;

      h1 {
        font-size: 2.5rem !important;
        color: $green;
      }
      h4 {
        font-size: 2rem !important;
        font-weight: normal !important;
      }
    }
  }

  .lottie {
    width: 500px !important;
    position: relative;
    bottom: 0 !important;
  }
  .scrolldown {
    width: 40px;
    height: 40px;
    transform: translateY(-80px) translateX(-50%);
    transform: rotate(45deg);
  }
  .nav.stickyadd {
    background: #fff !important;
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
    transition: 0.5s all ease-in-out;
    padding: 2rem;
  }
  .nav.stickyadd .navbar a {
    color: $black !important;
  }

  .about {
    .img-about {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .service {
    padding: 1rem 9%;
  }
}

@media (max-width: 800px) {
  //  responsiv about
  .service {
    padding: 3rem 0;
    .container {
      padding: 0 1rem !important;
    }
  }
}

@media (max-width: 768px) {
  .icons {
    display: block;
    cursor: pointer;
  }

  .navbar {
    width: 100%;
    position: absolute;
    top: 99%;
    margin: 0;
    padding: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    overflow: visible;

    &.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      transition: 0.4s linear;
    }
    .navItems {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      background: linear-gradient(45deg, #513bdb, #5645e2);
      color: $white;
      border-bottom: $border;
      li {
        margin: 1.2rem;
        padding: 1.2rem;
        border-radius: 0.5rem;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $white;

        a {
          color: $white !important;
          font-size: 2.1rem;
        }
      }
    }
  }
  .nav.stickyadd {
    background: #fff !important;
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
    transition: 0.5s all ease-in-out;
    padding: 2rem;
  }
  .nav.stickyadd .navbar a {
    color: $white !important;
  }

  .lottie {
    width: 100% !important;
  }
  .about {
    padding: 3rem 4rem !important;

    .header-about {
      font-size: 2.2rem;
      font-weight: 700;
      position: relative;
      display: block;
    }
    .img-about {
      justify-content: center;
    }
  }

  // active navbar
  .nav .navbar .navItems li a:hover,
  .nav .navbar .navItems li a.activee {
    color: $green;
    border-bottom: none;
    transition: none;
  }

  //  responsiv about
  .about {
    padding: 3rem 0 !important;
    .content {
      padding: 0 2rem !important;
    }
  }
  //  responsiv about
  .service {
    padding: 3rem 0;
    .container {
      padding: 0 1rem !important;
    }
  }

  #contactUs {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
  }

  .contactUs {
    width: 100% !important;
    .container {
      width: 100%;
      .container-form {
        width: 100% !important;
      }
    }

    .contact-services {
      width: 100% !important;
    }
  }
}
@media (max-width: 665px) {
  .service {
    .fas,
    .fab {
      position: absolute;
      top: -37px !important;
      left: 44% !important;
    }
  }
}

@media (max-width: 620px) {
  #contactUs {
    display: flex;
    justify-content: center !important;
    align-items: center;

    .container {
      align-items: center !important;
    }
  }
}

@media (max-width: 450px) {
  .content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start !important;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 20px !important;
  }
  .about {
    @include grid(250px);
    .img-about {
      max-width: 100%;

      img {
        display: flex;
        width: 100% !important;
        object-fit: cover;
        padding: 10px;
      }
    }
  }

  .service {
    .fas,
    .fab {
      position: absolute;
      top: -37px !important;
      left: 41.5% !important;
    }
  }
}
