// Global Sit Start
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;600;700;900&display=swap");
* {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

$black: #222;
$white: #fff;
$ligth-color: #666;
$ligth-bg: #f3f3f3;
$border: 0.1rem solid rgba(0, 0, 0, 0.1);
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}

// Global Sit End

// header section
header {
  background: url(../image/header.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
  nav {
    z-index: 1000;
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;

    .container {
      .navbar-brand {
        color: $white;
        font-size: 2.2rem;
        span {
          color: $black;
        }
      }
      a {
        display: block;
        color: $black;
      }
      .navbar-nav {
        .nav-item {
          .nav-link {
            color: $white;
            font-size: 1.1rem;
          }
        }
      }
    }
    .navbar-toggler {
      filter: invert(1);
      &:focus {
        box-shadow: none;
      }
    }
  }

  .header-content {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    direction: rtl;
    .content-box {
      max-width: 700px;
      color: $white;
      .content-box h4 {
        font-size: 30px;
      }
      .content-box h1 {
        font-size: 52px;
      }
    }
  }
  .lottie {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// stickyadd-navbar
nav.stickyadd {
  background: #fff !important;
  padding: 15px 0;
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
  transition: 0.5s all ease-in-out;
}

nav.stickyadd .navbar-brand {
  color: $black !important;
  font-size: 40px;
  transition: 0.5s all;
}

nav.stickyadd .navbar-nav .nav-link {
  color: $black !important;
}

nav.stickyadd .navbar-toggler {
  filter: invert(0);
}

@media (max-width: 768px) {
  nav {
    background: $white;
    color: $black;

    .navbar-brand {
      color: $black !important;

      span {
        color: $black;
      }
    }

    .navbar-toggler {
      filter: invert(0) !important;
    }
    .navbar-nav {
      color: $black;
      a {
        color: $black !important;
      }
    }
  }
}
