@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;600;700;900&display=swap");
* {
  font-family: "Cairo", sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  text-transform: capitalize;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  direction: rtl;
}

section {
  padding: 1rem 9%;
}

.icons {
  display: none;
}

header {
  background: url(../image/Untitled-2.png);
  height: auto !important;
  background-position: center;
  background-size: cover;
}

header .nav {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0;
  z-index: 1000;
}

header .nav .logo a {
  font-size: 3rem;
  color: #fff;
  display: block;
}

header .nav .logo span {
  color: #04d7ab;
}

header .nav .navbar .navItems {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav .navbar .navItems li {
  padding: 10px 20px;
  font-size: 1.7rem;
}

header .nav .navbar .navItems a {
  color: #fff;
  position: relative;
}

header .nav .icons #menu-btn {
  font-size: 4rem;
  color: #fff;
}

header .row {
  padding-top: 10rem;
  width: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .row .wahtsapp p {
  font-size: 2rem;
  color: #fff;
}

header .row .wahtsapp span {
  display: block;
  border: 0.3rem solid white;
  border-radius: 5px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
}

header .row .wahtsapp span:hover {
  background: #04d7ab;
  -webkit-transition: .4s linear;
  transition: .4s linear;
  color: #f3f3f3;
  font-weight: 600;
}

header .row .wahtsapp span a {
  display: block;
  font-size: 2rem !important;
  width: 100%;
  color: #fff;
  direction: ltr;
}

header .row .wahtsapp span a img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 10px;
}

header .row .header-content {
  direction: rtl;
  text-align: center;
}

header .row .header-content .content-box {
  color: #fff;
}

header .row .header-content .content-box h1 {
  font-size: 3.2rem !important;
  color: #04d7ab;
}

header .row .header-content .content-box h4 {
  font-size: 3rem !important;
  font-weight: normal !important;
}

header .row .lottie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 550px;
  position: relative;
  bottom: 50px;
}

header .scrolldown {
  width: 40px;
  height: 40px;
  -webkit-transform: translateY(-80px) translateX(-50%);
          transform: translateY(-80px) translateX(-50%);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .scrolldown span {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 50%;
  height: 50%;
  border-bottom: 2px solid #222;
  border-right: 2px solid #222;
  -webkit-animation: animation 1.5s linear infinite;
          animation: animation 1.5s linear infinite;
  opacity: 0;
}

header .scrolldown span:nth-child(1) {
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
}

header .scrolldown span:nth-child(2) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

@-webkit-keyframes animation {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  100% {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}

@keyframes animation {
  0% {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25% {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  100% {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}

.nav.stickyadd {
  background: #fff !important;
  -webkit-box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  padding: 1rem 9%;
}

.nav.stickyadd a {
  color: #222 !important;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.nav.stickyadd .navbar a {
  color: #222 !important;
}

.nav.stickyadd #menu-btn {
  color: #222 !important;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  .header .content-box {
    color: #fff;
  }
  .header .content-box h1 {
    font-size: 2.5rem !important;
    color: #04d7ab;
  }
  .header .content-box h4 {
    font-size: 2rem !important;
    font-weight: normal !important;
  }
  section {
    padding: 3rem;
  }
  .lottie {
    width: 500px !important;
    position: relative;
    bottom: 0 !important;
  }
  .scrolldown {
    width: 40px;
    height: 40px;
    -webkit-transform: translateY(-80px) translateX(-50%);
            transform: translateY(-80px) translateX(-50%);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 768px) {
  .icons {
    display: block;
    cursor: pointer;
  }
  .navbar {
    width: 100%;
    background: #fff !important;
    position: absolute;
    top: 99%;
    margin: 0;
    padding: 0;
    left: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    opacity: .9;
  }
  .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
  }
  .navbar .navItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
    background: #1b3bce;
    direction: ltr;
    border-top: 0.3rem solid white;
    border-bottom: 0.3rem solid white;
    z-index: 22222;
  }
  .navbar .navItems li {
    margin: 1.5rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .navItems li a {
    color: #fff !important;
    font-size: 2.1rem;
  }
  .navbar .lottie {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
  .nav.stickyadd {
    background: #fff !important;
    -webkit-box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
            box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
    padding: 3rem 2rem;
  }
  .nav.stickyadd .navbar a {
    color: #222 !important;
  }
  .lottie {
    width: 100% !important;
  }
}

.nav .navbar .navItems li a:hover, .nav .navbar .navItems li a.active {
  color: #04d7ab;
  border-bottom: 3px solid #04d7ab;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

@media (max-width: 768px) {
  .nav .navbar .navItems li a:hover, .nav .navbar .navItems li a.active {
    color: #04d7ab;
    border-bottom: none;
    -webkit-transition: none;
    transition: none;
  }
}
/*# sourceMappingURL=style.css.map */